/* ===============================================================================
   Table Of Content
   ===============================================================================
   1.General
   2.header
   3.banner
   4.subscribe
   5.welcome
   6.about
   7.services
   8.team
   9.portfolio
   10.features
*/

/* ===============================================================================
    1. General
   ===============================================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap');
$text-color :#71c21b;
$text-gray :#999;

html {
    scroll-behavior: smooth;
    font-size: 62.5%; // 1rem = 10px
}

* {
    transition: 0.5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    // scroll-padding-top: 40px;

    font-family: 'Ubuntu', sans-serif;
}
.ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.heading-span {
    color: #71c21b;
    display: block;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.heading-title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;

    b {
        font-weight: 700;
    }

}

.heading-desc {
    font-size: 1.6rem;
    max-width: 535px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.8;
    color: #999;
    margin-bottom: 2rem;
}
.heading-p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8;
    color: #999;
    margin-bottom: 0;
}
@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $dir;
}
/* ===============================================================================
    2.heaedr
   ===============================================================================
*/
.header {
    height: 8rem;
    @include flex(center);
    position: absolute;
    z-index: 999;
    width: 100%;

    &.fixeds {
        top: 0;
        position: fixed;
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
        background: #fff;
        animation: upTodown .5s ease-out forwards;

        @keyframes upTodown {
            from {
                opacity: 0;
                transform: translateY(-100%);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .header__logo {
            color: #000 !important;
        }

        .header__menu-link {
            color: #000;

            &:hover {
                color: $text-color;
            }

            &.color-active {
                color: $text-color;
            }
        }

        .green {
            color: $text-color;
        }
    }

    &__inner {
        @include flex(center, space-between);
    }

    &__logo {
        color: #fff;
        font-size: 2.8rem;
        font-weight: 500;

        cursor: pointer;

        &-text {
            color: $text-color;
        }
    }

    &__menu {
        &-list {
            @include flex(center);
        }

        &-item {
            padding: 0 1.4rem;
        }

        &-link {
            color: #fff;
            padding: 0;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            font-size: 1.4rem;
            cursor: pointer;
            transition: color 0.25s linear;

            &.color-active {
                color: $text-color;
            }

            &:hover {
                color: $text-color;
            }

            .fa-ellipsis-h {
                font-size: 3rem;
                color: $text-color;
            }
        }

        .green {
            color: $text-color;
        }
    }

    &__bar {
        font-size: 25px;
        cursor: pointer;
        display: none;

        &-icon {
            color: $text-color;
        }
    }

}

.animation {
    position: absolute;
    z-index: 9;
    animation: movebounce 3s linear infinite;

    @keyframes movebounce {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        50% {
            -webkit-transform: translateY(15px);
            transform: translateY(17px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

.box1 {
    left: 100px;
    bottom: 100px;
}

.box2 {
    right: 150px;
    top: 100px;
}

.box3 {
    left: 100px;
    top: 100px;
}

.box4 {
    right: -300px;
    bottom: -300px;
}

.box5 {
    right: 5px;
    bottom: 15px;
}

.box6 {
    left: 50%;
    bottom: 50px;
}

/* ===============================================================================
    3.banner
   ===============================================================================
*/
.banner {
    width: 100%;
    height: 100vh;
    &__modal{
      position: fixed;
        top: 0;
        z-index: 99999;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, .85);
        &.openmodal{
          opacity: 1;
          visibility: visible;
        }
    }

    &__closemodal{
        font-size: 4rem;
        color: #fff;
        position: absolute;
        top: 0;
        cursor: pointer;
        right: 2rem;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__list {
        // width: 100%;
        // height: 100%;

    }

    &__item {
        position: relative;
        height: 100vh;
        overflow: hidden;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        // res height 90vh

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .6;

        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-position: 50%;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAABGdBTUEAALGPC/xhBQAAABJJREFUCB1jYECA/wgmlAUXAQAkAwH/DVk11gAAAABJRU5ErkJggg==);
            background-repeat: repeat;
        }

        &-bg-one {
            background-image: url(../image/slide1.jpg);
        }

        &-bg-two {
            background-image: url(../image/slide2.jpg);
        }

        &-bg-three {
            background-image: url(../image/slide3.jpg);
        }
    }

    &__content {
        z-index: 99;
        position: absolute;
        width: 100%;
        height: 100%;
        @include flex(center, center);

        &-item {
            text-align: center;
            max-width: 95rem;
            color: #fff;

            h5 {
                font-size: 2rem;
                font-weight: 300;
            }

            h1 {
                font-size: 7rem;
                font-weight: 700;
                margin: 1.5rem 0;

                span {
                    color: $text-color;
                }
            }

            p {
                font-weight: 200;
                font-size: 1.4rem;
                line-height: 1.8;
                margin-bottom: 3rem;
                font-family: 'Ubuntu', sans-serif;
            }
        }

    }

    .owl-theme .owl-nav [class*=owl-] {
        position: absolute;
        left: 40px;
        top: 50%;
        font-size: 30px !important;
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff !important;
        line-height: 50px !important;
        margin: 0;
        background: rgba(0, 0, 0, .5) !important;
        border-radius: 30px !important;
        transition: .4s;
        outline: none !important;
    }

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: #71c21b !important;
        color: #fff !important;
    }

    .owl-theme .owl-nav .owl-next {
        left: auto;
        right: 40px;
        cursor: pointer;
    }

    .owl-theme .owl-nav .owl-next i {
        font-size: 25px;
    }

    .owl-theme .owl-nav .owl-prev i {
        font-size: 25px;
    }

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: none;
        color: #000;
        outline: none;
        text-decoration: none;
    }

    .owl-item.active .fadeInDowns {
        animation: fadeInDown 1.5s ease;

        @keyframes fadeInDown {
            from {
                opacity: 0;
                transform: translate3d(0, -100%, 0);
            }

            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .owl-item.active .fadeInUps {
        animation: fadeInUp 2s ease;

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transition: all 1.5s cubic-bezier(0, 0.45, 0.58, 0.2);
                transition-delay: 0.8s;

                transform: translate3d(0, 100%, 0);
            }

            to {
                opacity: 1;
                transition: all 1.5s cubic-bezier(0, 0.45, 0.58, 0.2);
                transition-delay: 0.8s;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .owl-item.active .zoomIns {
        animation: zoomIn 1.5s ease;

        @keyframes zoomIn {
            from {
                opacity: 0;
                transform: scale3d(0.3, 0.3, 0.3);
            }

            50% {
                opacity: 1;
            }
        }
    }

    &__button {
        .btn {
            margin: 0 1rem;
        }
    }

}
.fa-play-circle{
    font-size: 2rem !important;
}
.btn {
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 10px 33px;
    line-height: 1.5;
    text-transform: capitalize;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    &--primary {
        color: #fff;
        background-color: $text-color;
        transition: 0.5s;
        border: 1px solid $text-color !important;
    }
    &--white{       
        color: #71c21b;
        background-color: #fff;
        border: 1px solid #fff;
        &:hover{
            color: #fff;
            background: transparent;
            
        }
    }
    &--border {
        border: 1px solid currentColor;
    }
    &--transparent {
        background-color: transparent;
        box-sizing: border-box;
        color: $text-color;
        // border: 1px solid $text-color !important;

        &:hover {
            color: $text-color;
        }
    }

    .fa-play-circle {
        font-size: 2.5rem;
        color: $text-color;
        margin-right: 0.5rem;
    }
}
/* ===============================================================================
    4.subscribe
   ===============================================================================
*/
.subscribe {
    background: $text-color;
    padding-top: 50px;
    font-family: Ubuntu, sans-serif;
    padding-bottom: 50px;
    position: relative;
    margin-top: 15px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 25px;
        background-image: url(../image//bgseb.png);
        background-position: 50%;
        background-repeat: repeat;
        background-size: cover;
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }

    &__row {
        @include flex(center, center);
    }

    &__content {
        font-size: 2.4rem;
        color: #fff;
        text-align: center;
        font-weight: 300;
    }
}
/* ===============================================================================
    5.welcome
   ===============================================================================
*/
.welcome {

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__cart {}

    &__box {
        text-align: center;
        box-shadow: 7px 5px 30px rgba(72, 73, 121, .15);
        padding: 30px 20px;
        background: #fff;
        position: relative;
        transition: .4s;
        cursor: pointer;

        &:hover i {
            color: $text-color;
        }

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            border-radius: 0 0 5px 5px;
            left: 0;
            background: #71c21b;
            bottom: 0;
            transition: .4s;
        }

        &:hover {
            transform: translateY(-10px);
        }

        &:hover::before {
            width: 100%;
        }

        i {
            font-size: 50px;
            color: #999;
            transition: .4s;
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 15px;
            margin-top: 20px;

        }

        p {
            font-weight: 300;
            font-size: 15px;
            line-height: 1.8;
            color: #999;
        }
    }
}

/* ===============================================================================
    6.about 
   ===============================================================================
*/
.about {
    background: #f9f9f9;
    position: relative;

    &__choose {
        text-align: center;
        background: #fff;
        margin-top: 20px;

        &-col {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;

            &:nth-child(1) {
                border-bottom: 1px solid #eee;
            }

            &:nth-child(2) {
                border-bottom: 1px solid #eee;

                border-right: 1px solid #eee;
                border-left: 1px solid #eee;
            }

            &:nth-child(3) {
                border-bottom: 1px solid #eee;
            }

            &:nth-child(5) {
                border-right: 1px solid #eee;
                border-left: 1px solid #eee;
            }
        }

        &-item {
            padding: 20px 15px;

            i {
                font-size: 35px;
                color: #777;
                transition: .4s;
            }

            h5 {
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 0;
                margin-top: 8px
            }
        }
    }

    &__skill {
        margin-top: 2.5rem;

    }

    &__progress {
        height: 10px;
        background: #fff;
        border-radius: 10px;
        box-shadow: none;
        margin-bottom: 20px;
        overflow: visible;

        &-bar {
            box-shadow: none;
            position: relative;
            background: #71c21b;
            border-radius: 10px;
            width: 95%;
            height: 10px;

            &:nth-child(4) {}
        }

        &-value {
            font-size: 1.5rem;
            font-weight: 300;
            color: #222;

            position: absolute;
            top: -28px;
            right: 0;
        }
    }
}

.owl-dots {
    margin-top: 20px !important;
}

.owl-theme .owl-dot {

    outline: none !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #71c21b !important;

}

.heading-slide {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8;
    color: #999;
    margin-bottom: 2rem;
}

.heading-h3 {
    font-size: 1.6rem;
    margin: 0 0 0.8rem;
}

.heading-h5 {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 1.5rem;

    span {
        color: #71c21b;
        font-weight: 400;
    }
}

/* ===============================================================================
    7.services
   ===============================================================================
*/
.services {
    overflow: hidden;
    z-index: 1;
    background-image: url(../image/bg-serivices.png);

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__cart {
        &-item {
            padding: 30px 20px;
            background: #fff;
            position: relative;
            border-radius: 5px;
            margin-bottom: 30px;
            transition: .4s;
            cursor: pointer;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 7px 5px 30px rgba(72, 73, 121, .15);
            }

            &:hover .item-header i {
                color: $text-color;
            }

            &:hover .item-header .number {
                opacity: 1;
            }

            h3 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 15px;
                margin-top: 20px
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 1.5;
                color: $text-gray;
            }

            .item-header {
                @include flex(center, space-between);

                i {
                    font-size: 3.5rem;
                    color: $text-gray;
                }

                .number {
                    font-size: 4.5rem;
                    color: #71c21b;
                    opacity: .25;
                }
            }
        }
    }
}
/* ===============================================================================
    8.team
   ===============================================================================
*/
.team {
    position: relative;
    overflow: hidden;

    &__title {
        text-align: center;
    }

    &__slide {
        &-item {
            cursor: pointer;
            position: relative;

            &:hover .team__box::before {
                opacity: 1;
            }

            // &:hover .team__social{
            //     top: 50%;
            // }
            &:hover .team__social li a {
                opacity: 1;
                transform: translateY(0%);

                &:nth-child(1) {
                    transition-delay: 0s;
                }

                &:nth-child(2) {
                    transition-delay: 0.1s;
                }

                &:nth-child(3) {
                    transition-delay: 0.2s;
                }

                &:nth-child(4) {
                    transition-delay: 0.3s;
                }


            }
        }
    }

    &__box {
        position: relative;

        &::before {
            transition: 0.5s;
            position: absolute;
            content: '';
            background-color: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }

    &__info {
        text-align: center;

        h3 {
            font-weight: 500;
            font-size: 2rem;
            margin-top: 1.5rem;
            margin-bottom: 0.6rem;
        }

        span {
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            color: #999;
        }
    }

    &__social {
        width: 100%;
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: center;
        li {
            display: flex;

            a {
                width: 4rem;
                height: 4rem;
                margin: 0 0.5rem;
                @include flex(center, center);
                border-radius: 50%;
                background-color: $text-color;
                border: 2px solid $text-color;
                // transition: .4s;
                overflow: hidden;
                opacity: 0;
                transform: translateY(100%);

                &:hover i {
                    color: $text-color;
                }

                &:hover {
                    background-color: #fff;
                    border: 2px solid #fff;
                    color: $text-color;
                }

                i {
                    transition: .4s;
                    color: #fff;
                    text-align: center;
                    line-height: 4rem;
                    font-size: 18px;
                    width: 100%;
                }
            }
        }
    }
}
/* ===============================================================================
    9.portfolio
   ===============================================================================
*/
.portfolio {
    padding: 100px 0 60px 0;
    background: #f9f9f9;

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__item {
        margin-bottom: 40px;
        cursor: pointer;

        &:hover .portfolio__img::before {
            width: 100%;
        }

        &:hover .portfolio__icon i {
            opacity: 1;
            visibility: visible;
        }

        h3 {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
            margin: 25px 0 0;
            line-height: 12px;
        }
    }

    &__img {
        position: relative;

        &::before {
            content: "";
            background: #71c21b;
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            transition: .4s;

        }

        img {
            width: 100%;

        }
    }

    &__icon {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        @include flex(center, center);

        i {
            font-size: 18px;
            width: 45px;
            height: 45px;
            color: #fff;
            border: 2px solid #fff;
            text-align: center;
            line-height: 45px;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
        }
    }

    &__lightbox {
        cursor: pointer;
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 99999;
        transition: 0.4s;
        display: none;
        pointer-events: all;
        background-color: rgba(0, 0, 0, .85);
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &.open {
            display: flex;
        }

        &-close {
            z-index: 9999;
            font-size: 4rem;
            position: absolute;
            top: 10px;
            right: 30px;
            color: #ccc;
            cursor: pointer;
        }

        &-control {
            // position: fixed;
            position: absolute;
            width: 100%;
            height: 100%;
            @include flex(center);
        }

        &-counter {
            font-size: 2.5rem;
            color: #fff;
            text-align: right;
            margin-top: 1.5rem;

        }

        &-prev,
        &-next {
            padding: 2rem;
            font-size: 2.5rem;
            cursor: pointer;
            color: #fff;
            border-radius: 50%;
            width: 5rem;
            @include flex(center, center);
            height: 5rem;
            border: 2px solid #fff;

            &:hover {
                background-color: $text-color;
            }
        }

        &-prev {
            left: 2rem;
            position: absolute;
        }

        &-next {
            right: 2rem;
            position: absolute;
        }
    }

}
/* ===============================================================================
    10.features
   ===============================================================================
*/
.features{
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: #71c21b;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        opacity: .2;
        width: 100%;
        background-image: url(../image/beforfeauter.png);
    }
    &__img{
        img{
            border-radius: 10px;
            max-width: 100%;
        }
    }
    &__item{
        position: relative;
        margin-bottom: 30px;
        padding-left: 90px;
        cursor: pointer;
        &:hover .features__item-icon {
            background-color: transparent;
         
        }
        &:hover .fas{
            color: #fff;
        }
        &-icon{
            position: absolute;
            left: 0;
            top: 0;
            width: 70px;
            color: #71c21b;
            height: 70px;
            text-align: center;
            line-height: 70px;
            background: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            font-size: 30px;
            transition: .4s;
        }
        h3{
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
        }
        p{
            color: #fff;
            margin-bottom: 0;
            // font-weight: 400;
            font-size: 15px;
            line-height: 1.8;
        
        }
    }
}
/* ===============================================================================
    11.price
   ===============================================================================
*/
.price{
    position: relative;
    height: 100%;
    &__title{
        text-align: center;
        margin-bottom: 60px;
    }
    &__tab{
     
        &-nav{
            @include flex(center,center);
            margin-bottom: 40px;
            button{
                cursor: pointer;
                outline: none;
                margin: 0 1rem;
            }
            .btn-price{
                &.btn-active{
                    background-color: $text-color !important;
                    color: #fff;
                    
                }
            }
        }
        &-content{
            width: 100%;
        }
        &-item{
            display: none;
        }
        &-visible{
            display: block;
            animation: hien 0.5s linear;
            @keyframes hien {
                0%{
                    opacity: 0;
                    
                }
                100%{
                    opacity: 1;
                  
                }
            }
        }
        &-slider{

        }
        &-table{
            text-align: center;
            background-image: url(../image/bg.748fba6c.png);
            padding-bottom: 35px;
            border-radius: 5px;
            box-shadow: 7px 5px 30px 0 rgba(72,73,121,.15);
            border: 1px solid transparent;
            transition: .4s;
            cursor: pointer;
            &:hover{
                border: 1px solid $text-color;
            }
            &:hover .price__tab-header{
                background: #71c21b;
                border-color: #71c21b;
                color: #fff;
            }
            &:hover .btn{
                background: #71c21b;
                color: #fff;
            }
        }
        &-active{
            border: 1px solid $text-color;
        }
        &-active .price__tab-header{
            background: #71c21b;
            border-color: #71c21b;
            color: #fff;
        }
        &-header{
            padding: 4rem 2rem;
            border-bottom: 1px solid #e4e4e4;
            transition: .4s;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        &-price{
            font-size: 3.4rem;
            font-weight: 700;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            color: #71c21b;
            sup{
                position: relative;
                font-size: 75%;
                line-height: 0;
                vertical-align: initial;
                top: -1rem;
            }
        }
        &-features{
            padding: 0;
           margin-bottom: 3.5rem;
            list-style-type: none;
            li{
                font-size: 1.5rem;
                font-weight: 300;
                color: #777;
                margin-bottom: 1.2rem;
            }
        }
    }
}
/* ===============================================================================
    12.blog
   ===============================================================================
*/
.blog{
    &__title{
        margin-bottom: 6rem;
        text-align: center;
    }
    &__content {
        &-item{
            margin-bottom: 30px;
            &:hover .blog__content-img img {
                transform: scale(1.5);
            }
        }
        &-img{
            overflow: hidden;
            cursor: pointer;
            img{
                transition: 0.5s;
                width: 100%;
            }
        }
        &-desc{
            margin-top: 25px;
            h3{
                font-weight: 700;
                line-height: 3rem;
                margin-bottom: 1.5rem;
                &:hover a{
                    color: $text-color;
                }
                a{color: #000;
                    font-size: 2rem;
                }
            }
            a{font-size: 1.5rem; color: #777; &:hover{color: $text-color;}}
        }
    }
}

/* ===============================================================================
    13.work
   ===============================================================================
*/
.work{
    background-color: #71c21b;
    z-index: 1;
    text-align: center;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-image: url(../image/bgwork.png);
        left: 0;
        opacity: .2;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__content{
       h3{
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 12px;
        margin-top: -7px;
       }
       span{    font-size: 20px;
        color: #fff;
        display: block;
        margin-bottom: 25px;}
    }
}

/* ===============================================================================
    14.contact
   ===============================================================================
*/
.contact{
    &__title{
        text-align: center;
        margin-bottom: 6rem;
    }
    &__item{
        box-shadow: 7px 5px 30px 0 rgba(72,73,121,.15);
        padding: 25px 30px 25px 115px;
        position: relative;
        
        
        h4{
            font-size: 1.8rem;
            margin-bottom: 1.2rem;
        }
        p{
            margin: 0;
            line-height: 2.5rem;
            font-weight: 300;
            font-size: 1.4rem !important;
            a{
           
               
                color: #999 !important;
            }
        }
    }
    &__icon{
        position: absolute;
        left: 2.5rem;
        top: 3rem;
        width: 7rem;
        height: 7rem;
        line-height: 6.8rem;
        font-size: 3.5rem;
        text-align: center;
        border-radius: 50%;
        color: $text-color;
        border: 1px solid $text-color;
        transition: .4s;
    }
    &__text{
        margin-left: 3rem;
    }
    &__get{
        margin-top: 4rem;
        h3{
            font-size: 1.8rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #eee;
            margin-bottom: 2rem;
        }
        p{
            font-weight: 300;
            font-size: 15px;
            line-height: 1.8;
            color: #999;
            margin-bottom: 20px;
        }
        ul{
            display: flex;
            li a{    color: #71c21b;
                margin-right: 5px;
                i{
                    font-size: 1.6rem;
                }
            
            }
        }
    }
    &__form{
        margin-top: 4rem;
        &-group{
            margin-bottom: 1rem;
        }
        &-control{
            background: transparent;
            border: 1px solid #eee;
            border-radius: 5px;
            height: 45px;
            padding: 15px;
            font-size: 15px;
            color: #000;
            width: 100%;
        }
        &-textarea{
            background: transparent;
            border: 1px solid #eee;
            border-radius: 5px;
            padding: 15px;
            font-size: 15px;
            color: #000;
            width: 100%;
        }
    }
}
/* ===============================================================================
    15.footer
   ===============================================================================
*/
.footer{
    padding: 3rem 0;
    background: #121314;
  
    p{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 0;
        color: #d5d5d5;
    }
    ul{
        display: flex;
        justify-content: flex-end;
        span{
            color: #d5d5d5;
            padding: 0 5px;
        }
        li a{
            font-weight: 300;
            font-size: 14px;
            color: #d5d5d5;
        }
    }
}

/* ===============================================================================
    16.ontop
   ===============================================================================
*/
.ontop{
    position: fixed;
    bottom: 30px;
    right: 20px;
    overflow: hidden;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    &.opacity{
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }
    a{
        width: 40px;
        height: 40px;
        display: inline-block;
        background-color: #000;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        @include flex(center,center);
      
        &:hover{
            background-color: $text-color;
        }
  
        i{
            font-size: 2rem;
            color: #fff;
            
        }
    }
}
/* ===============================================================================
    17.loading
   ===============================================================================
*/
.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $text-color;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    &.none{
        opacity: 0;
        visibility: hidden;
    }
    &__item{
        width: 5px;
        height: 40px;
        background-color: white;
        margin: 0 3px;
        border-radius: 1rem;
        animation: loading 0.8s infinite;
        &:nth-child(2){
            animation-delay: 0.1s;
        }
        &:nth-child(3){
            animation-delay: 0.2s;
        }
        &:nth-child(4){
            animation-delay: 0.3s;
        }
        &:nth-child(5){
            animation-delay: 0.4s;
        }
        &:nth-child(6){
            animation-delay: 0.5s;
        }
        &:nth-child(7){
            animation-delay: 0.6s;
        }
        &:nth-child(8){
            animation-delay: 0.7s;
        }
        @keyframes loading {    
            0%{
                height: 0;
            }
            50%{
                height: 40px;
            }
            100%{
                height: 0;
            }
        }
    }
}


/* ===============================================================================
                         /*  Responsive *
   ===============================================================================
*/
@media (min-width: 768px) and (max-width:992px) {

    html{
        scroll-behavior: smooth;
    }
    .header {
        &__menu {
            position: absolute;
            top: 80px;
            width: 100%;
            left: 0;
            overflow: hidden;
            height: 0;
            transition: 0.8s linear;

            &.active {
                height: 100vh;
                z-index: 100;
            }

            &-list {
                display: block;
                background: #fff;
            }

            &-item {}

            &-link {
                color: #000;
                display: block;
                padding: 10px 0;
            }
        }

        &__bar {
            display: block;
        }
    }

    .banner {
        height: 100%;
        width: 100%;

        &__item {
            height: 100vh;

        }

        &__content {
            display: flex;
            align-items: center;

            &-item {
                max-width: 90%;
                // margin: 0 !important;
                margin-top: 10rem;

                h5 {
                    font-size: 1.5rem;

                }

                h1 {
                    font-size: 5.5rem;
                    line-height: 1;
                }

                
            }
        }

        .box1 {
            left: 10px;
            bottom: 15px;
        }

        .box2 {
            right: 5px;
            top: 100px;
        }

        .box3 {
            left: 115px;
            top: 25px;
        }

        .box4 {
            right: -350px;
            bottom: -350px;
        }

        .box5 {
            display: none;
        }

        .box6 {
            bottom: 0;
        }
    }

    .welcome {
        &__box {
            margin-bottom: 3rem;
        }
    }

    .about {
        &__images {
            margin-bottom: 3rem;
        }

        &__choose {
            &-item {
                padding: 15px 10px;
            }
        }
    }
    .features{
        &__img{
            margin-bottom: 40px
        }
    }
    .price{
        &__tab{
            &-table{
                margin-top: 30px;
            }
        }
    }
    .blog{
        &__content {
            &-item{

            }
        }
    }
    .contact{
        &__item{
         
            margin-bottom: 30px;
        }
        &__icon{
  
        }
    }

}

@media only screen and (max-width: 767px) {
    html{
        scroll-behavior: smooth;
    }
    .header {
        &__menu {
            position: absolute;
            top: 80px;
            width: 100%;
            left: 0;
            overflow: hidden;
            height: 0;
            transition: 0.8s linear;

            &.active {
                height: 100vh;
                z-index: 100;
            }

            &-list {
                display: block;
                background: #fff;
            }

            &-item {}

            &-link {
                color: #000;
                display: block;
                padding: 10px 0;
            }
        }

        &__bar {
            display: block;
        }
    }

    .banner {
        height: 100%;
        width: 100%;

        &__modal{
            iframe{
                height: 400px;
            }
        }
        &__item {
            height: 90vh;
        }

        &__content {
            display: flex;
            align-items: center;

            &-item {
                max-width: 100%;
                // margin-top: 15rem;
                margin: 0 !important;

                h5 {
                    font-size: 1.5rem;

                }

                h1 {
                    font-size: 3.5rem;
                    line-height: 1.5;
                }

                p {
                    font-size: 1.3rem;
                }
            }
        }

        .box1 {
            left: 10px;
            bottom: 15px;
        }

        .box2 {
            right: 5px;
            top: 100px;
        }

        .box3 {
            left: 115px;
            top: 25px;
        }

        .box4 {
            right: -350px;
            bottom: -350px;
        }

        .box5 {
            display: none;
        }

        .box6 {
            bottom: 0;
        }

        .owl-theme .owl-nav [class*=owl-] {
            left: 15px;
            top: auto;
            font-size: 15px !important;
            width: 50px;
            bottom: 10px;
            height: 50px;
            line-height: 40px !important;

        }

        .owl-theme .owl-nav .owl-next {
            left: auto;
            right: 15px;
        }

        .owl-theme .owl-nav .owl-next i {
            font-size: 15px;
        }

        .owl-theme .owl-nav .owl-prev i {
            font-size: 15px;
        }
    }

    .welcome {
        &__box {
            margin-bottom: 3rem;
        }
    }

    .about {
        &__images {
            margin-bottom: 3rem;
        }
    }

    .portfolio {
        &__lightbox {
            &-prev {
                left: 0.5rem;
                font-size: 1.5rem;
            }

            &-next {
                right: 0.5rem;
                font-size: 1.5rem;
            }
        }
    }
    .features{
        &__img{
            margin-bottom: 40px
        }
    }
    .price{
        &__tab{
            &-table{
                margin-top: 30px;
            }
        }
    }
    .contact{
        &__item{
            padding: 20px 15px 20px 92px;
            margin-bottom: 30px;
        }
        &__icon{
            left: 20px;
        top: 25px;
        width: 55px;
        height: 55px;
        line-height: 50px;
        font-size: 30px;
        }
    }
    .footer{
        text-align: center;
        ul{
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 479px) {
    html {
        font-size: 50%;
        scroll-behavior: smooth;
    }

    .banner {
        width: 100%;
        height: 100%;

        &__item {
            height: 100vh;
        }

        &__content {

            &-item {
                max-width: 100%;
                margin-top: 20rem;

                h5 {
                    font-size: 1.5rem;

                }

                h1 {
                    font-size: 3.5rem;
                    line-height: 1.5;
                }

                p {
                    //    display: none;
                }
            }
        }

        .banner__button {
            .btn {
                margin: 5px 5px;
            }
        }
    }

}

